* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* PRELOADER */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,1);
	z-index: 99;
}

#status {
	font-size:50px;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -100px 0 0 -100px;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
}

/* END PRELOADER */

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    background:#444;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.container-fluid {
    max-width:500px;
    margin:0 auto;
	background:#EEEEEE;
	padding:10px;
    border:2px solid #000000;
    box-shadow: 0 0 5px 0 #000;
	min-height:100%;
}

hr {
    margin: 10px 0;
    border: 0;
    border: 1px solid #222;
}

#addItem {
    font-size: 20px;
    font-weight: 900;
    padding: 5px 10px;
    position: relative;
    top: -5px;
}

#choose,#randomize {
	margin-top:25px;
	display:none;
	width:100%;
}

#chosen,
#randomized {
	font-size:28px;
    text-align:center;
    margin-top:10px;
}

#chosen span,
#randomized span {
	color:#990000;
    font-weight:700;
    font-size:24px;
}

.heading {margin-bottom:10px;}

.visible {
    border:1px solid #000000;
    padding:20px;
}

#clear {font-size:14px;display:none;}

#no-options{
    font-weight:normal;
    font-size:small;
    color:#990000;
}

input[type=submit] {
	cursor:pointer;
	font-size:14px;
}
input[type=text] {
	padding:7px 2px;
	min-width:250px;
}

.items::before {
	font-family: FontAwesome;
	content:"\f00c";
	padding-right:10px;
	color:green;
}

@media screen and (max-width: 40.063em) {
	.container-fluid {max-width:none !important;}
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}